* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(images/back.png);
    background-position: center;
    background-size: cover;
    padding-right: 3%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}
.header {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.btn {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #378de5 3%, #48789b 100%);
  border-radius: 30px;
  border: 1px solid #5e97d1;
  background-color: #fff;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.btn:hover {
  background-color: #223094;
}


.content .text h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #378de5 3%, #48789b 100%);
    border-radius: 30px;
    border: 1px solid #cbcbcb;
    font-weight: 800;
    margin-top: 80px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
    text-align: center;
    color: yellowgreen;
}
.content .text h1 span {
    font-size: 50px;
}

.content .text p {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: .1em;
  margin-top: 40px;
  background: linear-gradient(to bottom, #378de5 3%, #48789b 100%);
  color: yellowgreen;
}

.Form {
    position: relative;
    margin: 50px auto;
    width: 280px;
    padding: 33px 25px 29px;
    background: grey;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  }
  
  .Heading {
    margin: -25px -25px 25px;
    padding: 15px 25px;
    line-height: 35px;
    font-size: 26px;
    font-weight: 300;
    color: white;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.75);
    background: lightskyblue;
  }
  
  input {
    font-family: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .Input {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 15px 2px;
    font-size: 17px;
    background: white;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -2px #ebebeb;
    box-shadow: inset 0 -2px #ebebeb;
  }
  body {
    height: 100vh;
    width: 100%;
    background-image: url(images/back.png);
    background-position: center;
    background-size: cover;
    padding-right: 3%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
  }
  
  .button-1 {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: lightskyblue;
    border: 0;
    border-bottom: 2px solid lightskyblue;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px lightskyblue;
    box-shadow: inset 0 -2px lightskyblue;
  }
